.red {
    background-color: #BA0021;
}

    .red:hover {
        background-color: red;
    }

.blue {
    background-color: #0066b2;
}

    .blue:hover {
        background-color: dodgerblue;
    }

.orange {
    background-color: darkorange;
}

    .orange:hover {
        background-color: orange;
    }

.green {
    background-color: #018749;
}

    .green:hover {
        background-color: lawngreen;
    }

.yellow {
    background-color: #FFC72C;
}

    .yellow:hover {
        background-color: yellow;
    }

.brown {
    background-color: saddlebrown;
}

    .brown:hover {
        background-color: brown;
    }

.pink {
    background-color: #F400A1;
}

    .pink:hover {
        background-color: hotpink;
    }

.purple {
    background-color: #720e9e;
}

    .purple:hover {
        background-color: mediumpurple;
    }

.grey {
    background-color: dimgrey;
    border: dotted;
}


.white {
    background-color: white;
}

.black {
    background-color: black;
}
