body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
} 

.row{
    margin:0;
    padding:0;
}

.array {
/*    background-color: #c89666;*/
    background-color: rgba(200, 150, 102, 0.9);
    /*    background-image: url(/img/bg.png) !important;*/
    /*background-repeat: repeat;*/
}




.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    align-items: center;
    order: -1
}


.btnColor {
    width: 25px;
    height: 20px;
    border: groove;
}

.allBtnColor {
    width: 20px;
    height: 20px;
    border:groove;
}

.red {
    background-color: #BA0021;
}

.red:hover{
    background-color:red;
}

.blue {
    background-color: #0066b2;
}

.blue:hover {
    background-color: dodgerblue;
}

.orange {
    background-color: darkorange;
}

.orange:hover {
    background-color: orange;
}

.green {
    background-color: #018749;
}
    .green:hover {
        background-color: lawngreen;
    }

.yellow {
    background-color: #FFC72C;
}
.yellow:hover {
    background-color: yellow;
}

.brown {
    background-color: saddlebrown;
}

.brown:hover {
    background-color: brown;
}

.pink {
    background-color: #F400A1;
}

.pink:hover {
    background-color: hotpink;
}

.purple {
    background-color: #720e9e;
}

.purple:hover {
    background-color: mediumpurple;
}

.grey {
    background-color: dimgrey;
    border:dotted;
}


.white {
    background-color: white;
}

.black {
    background-color: black;
}

@media screen and ( min-width: 567px )
{
    .btnColor, .allBtnColor {
        width: 27px;
        height: 22px;
    }
}

@media screen and ( min-width: 768px ) {
    .btnColor, .allBtnColor {
        width: 28px;
        height: 23px;
    }

}

@media screen and ( min-width: 992px ) {
    .btnColor .allBtnColor {
        width: 29px;
        height: 24px;
    }

}

@media screen and ( min-width: 1200px ) {
    .btnColor .allBtnColor {
        width: 30px;
        height: 25px;
    }
}

@media screen and ( min-width: 1400px ) {
    .btnColor .allBtnColor {
        width: 32px;
        height: 27px;
    }

}

@media screen and ( min-width: 1600px ) {
    .btnColor .allBtnColor {
        width: 34px;
        height: 29px;
    }

}

@media screen and ( min-width: 1920px ) {
    .btnColor, .allBtnColor {
        width: 36px;
        height: 31px;
    }
}

/*@media screen and ( min-width: 2500px ) {
    .btnColor {
        width: 30px;
        height: 30px;
    }

    .allBtnColor {
        width: 34px;
        height: 34px;
    }
}*/



