@page "/"

<section class="title">
    <h1 class="text-shadow">-- Text Shadow -- </h1>
</section>

<div class="buttons">
    <div class="box-1">

        <div class="btn btn-one">
            <span>Nouvelle partie</span>
        </div>
    </div>
</div>

