.toggle {
    color: rgba(200, 150, 102, 0.9);
}
.toggle:focus {
    color:white;
}

.toggle:hover {
    color: white;
}

row {
    margin: 0;
    padding: 0;
}

h3 {
    color: rgba(200, 150, 102, 0.9);
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(200, 150, 102, 0.9);
    border-radius: 10px;
} 
